node_modules/
**/node_modules/
dist/
.env
.DS_Store
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# build files
build/
backend/dist/
.vite/
reference files
apps/backend/.venv_stable

.venv_new
.venv_stable
apps/backend/.venv